@page "/beer/edit/{Id:int?}/"

<PageHeader>@Title</PageHeader>

@if (model != null)
{
    <EditForm Model="@model" OnValidSubmit="SubmitAsync">
        <DataAnnotationsValidator />

        <MudGrid>
            <MudItem xs="12">
                <MudPaper Class="pa-5">
                    <MudTextField Label="Name" HelperText="Unique name. Should probably include a cat."
                              @bind-Value="model.Name" For="@(() => model.Name)"
                              Class="pb-2"/>
                    <MudTextField Label="Type" HelperText="Beer type (IPA, Porter, etc.)"
                                  @bind-Value="model.Type" For="@(() => model.Type)"
                                  Class="pb-2" />
                    <MudNumericField Label="ABV" HelperText="Alcohol by Volume"
                                     @bind-Value="model.ABV" For="@(() => model.ABV)"
                                     Variant="Variant.Text" Step=".1M"
                                     Class="pb-2"/>
                    <MudTextField Label="Description" HelperText="Describe beer type, hops, etc." Variant="Variant.Text" 
                                  @bind-Value="model.Description" For="@(() => model.Description)" Lines="5" />
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.h5">Image</MudText>
                <InputFile id="fileInput" OnChange="UploadFilesAsync" hidden />
                <MudCard Elevation="10" Class="my-6 mx-2">
                    @if (model.ImagePath != null)
                    {
                        <MudCardMedia Image="@model.ImagePath" Height="180" Alt="@model.ImagePath" />
                    }
                    <MudCardActions>
                        <MudButton HtmlTag="label" Variant="Variant.Text" Color="Color.Tertiary" StartIcon="@Icons.Filled.Image" for="fileInput">Upload</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Secondary" StartIcon="@Icons.Filled.Image" OnClick="() => model.ImagePath = null">Delete</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center pb-6">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                           Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save">Save</MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </EditForm>
}
else
{
    <MudText>Beer not found.</MudText>
}

@inject ISnackbar Snackbar
@inject IBeerCommandService CommandService
@inject IBeerQueryService QueryService
@inject IFileUploader FileUploader

@code {
    [Parameter]
    public int? Id { get; set; }

    protected string Title { get; private set; }

    BeerEditModel model;

    protected override async Task OnParametersSetAsync()
    {
        Title = Id == null ? "Add new Beer" : "Edit Beer";
        model = await QueryService.BuildEditModelAsync(Id);
    }

    protected async Task SubmitAsync(EditContext context)
    {
        Id = await CommandService.SaveAsync(model);
        model.Id = Id;
        Snackbar.Add("Beer saved successfully.", Severity.Success, config => config.CloseAfterNavigation = true);
        StateHasChanged();
    }

    protected async Task UploadFilesAsync(InputFileChangeEventArgs e)
    {
        model.ImagePath = await FileUploader.UploadAsync(e.File);
        StateHasChanged();
    }
}
